{% extends 'base.jinja' %}

{% block content %}
  <div class='play-options'>
    <h1> superdoku app </h1>
    <input class= "play_btn" type="button" value="Play" />
    <input type="button" value="Challanges" />
  </div>
  <div class='sudoku-board'>

  </div>

  <script src="./static/js/play.js"></script>

{% endblock %}