{% extends 'base.jinja' %}

{% block content %}
  <div class='play-options'>
    <h1> superdoku app </h1>
    <input type="button" value="Play" />
    <input type="button" value="Challanges" />
  </div>
{% endblock %}