{% extends 'base.jinja'%}

{% block content %}
<h1> login </h1>
<form method='POST' action='/login'>
  <input type='email' placeholder='doug@superdoku.com' />
  <input type='password'
</form>
{% endblock%}
