{% extends 'base.jinja' %}
{% block content %}

{{ puzzle }}
<h1>Play</h1>



<script>
    window.onload = function() {
        let puzzleString = '{{puzzle}}'
        console.log(puzzleString)
    }
</script>
{% endblock%}