{% extends 'base.jinja'%}

{% block content %}
<h1> login </h1>
<form method='POST' action='/signup/'>
  <label>first name</label>
  <input type='text' name='firstname' placeholder='jordan' />
  <br>

  <label>last name</label>
  <input type='text' name='lastname' placeholder='lyon' />
  <br>

  <label>email</label>
  <input type='email' name='email' placeholder='doug@superdoku.com' />
  <br>

  <label>password</label>
  <input type='password' name='password' />
  <br>

  <input type='submit' id='submit' value='submit' />
</form>
{% endblock%}
